.home__about {
  gap: var(--gap-10);
  &-image {
    // width: clamp(46rem, 33.65vi + 11.54rem, 60rem);
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-10);
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    margin-block-start: var(--gap-10);
    li {
      margin-inline-start: 2rem;
      list-style: square;
    }
  }
}
