@import "./breakpoints";

.home__how-it-works {
  &-image {
    width: 60rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-10);
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    margin-block-start: var(--gap-12);

    .list-item {
      display: flex;
      flex-flow: row wrap;
      gap: var(--gap-5);
      &__content {
        max-width: 40ch;
      }

      &__icon {
        --_size: 10rem;
        min-width: var(--_size);
        height: var(--_size);
        aspect-ratio: 1;
      }

      &__title {
        font-size: var(--fs-h4);
        letter-spacing: initial;
      }
    }
  }
}
