.col-2-flex,
.col-2-flex-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-12);

  > * {
    flex: 0 1 auto;
  }

  & > :first-child {
    flex: 1;
  }
}
.col-2-flex {
  @include lg {
    flex-direction: row;
    align-items: unset;
    gap: var(--gap-6);
  }
}

.col-2-flex-reverse {
  @include lg {
    flex-direction: row-reverse;
    align-items: unset;
    gap: var(--gap-6);
  }
}
