@import "./breakpoints";

.navbar {
  --navbar-padding-y: var(--gap-7);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap-7);
  padding-block: var(--navbar-padding-y);

  @include lg {
    grid-template-columns: auto 1fr auto;
  }

  &__mobile-menu {
    display: flex;
    @include lg {
      display: none;
    }
  }

  &__menu {
    display: none;
    align-items: center;
    gap: var(--gap-7);

    @include lg {
      display: flex;
    }

    li {
      padding-block: var(--gap-5);
      padding-inline: clamp(1.4rem, 5vw, var(--gap-7));
      cursor: pointer;
      position: relative;

      &:is(:hover, :focus) {
        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
        }
        &::before {
          transform: rotateZ(-53deg);
        }
        a {
          opacity: initial;
        }
      }

      &::before {
        content: "";
        display: flex;
        position: absolute;
        inset: 0;
        background: url("../assets/UIElements/drawn-line.svg") no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -2;
        opacity: 0;
        visibility: hidden;
        transform: rotateZ(0);
      }
      &::after {
        content: "";
        display: flex;
        position: absolute;
        inset-inline: 0;
        inset-block: 0.85em;
        background-color: var(--white-200);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }
    }
  }
  &__logo {
    --_size: 5.2rem;
    width: var(--_size);
    height: var(--_size);
    aspect-ratio: 1;
  }
  &__buttons {
    display: none;
    gap: var(--gap-7);

    @include lg {
      display: flex;
    }
  }
}
